{
  "openapi": "3.1.0",
  "info": {
    "title": "RED QUEEN Intelligence API",
    "description": "Source-bounded survival intelligence and Solana telemetry. Paid operations use runtime x402 v2 exact-SVM requirements and never award XP or BIO-SCORE.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://redqueen.space",
      "description": "Production RED QUEEN gateway"
    }
  ],
  "paths": {
    "/api/intel/premium": {
      "get": {
        "summary": "Seven-source verified signal synthesis",
        "description": "Ranks current normalized signals from USGS, NASA EONET, GDACS, NOAA SWPC, CISA KEV, WHO DON, and Official Solana Status. Delivery requires at least four reachable source families.",
        "operationId": "getGlobalSourceSynthesis",
        "x-payment-required": true,
        "x-x402Version": 2,
        "x-payment-info": {
          "protocol": "x402",
          "scheme": "exact",
          "price": "0.01 USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "requirements": "Recipient, asset, amount, fee payer, and timeout are returned by the runtime HTTP 402 challenge."
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/OperationId"
          },
          {
            "$ref": "#/components/parameters/PaymentSignature"
          }
        ],
        "responses": {
          "200": {
            "description": "Settled and delivered source-backed synthesis.",
            "headers": {
              "X-Operation-Id": { "$ref": "#/components/headers/OperationId" },
              "X-Receipt-Status": { "$ref": "#/components/headers/ReceiptStatus" },
              "Payment-Response": { "$ref": "#/components/headers/PaymentResponse" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GlobalSynthesis" }
              }
            }
          },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "503": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    },
    "/api/intel/depin": {
      "get": {
        "summary": "Solana network health snapshot",
        "description": "Returns current validator, epoch, performance, fee, supply, and inflation telemetry from the configured Solana Mainnet RPC.",
        "operationId": "getSolanaNetworkHealth",
        "x-payment-required": true,
        "x-x402Version": 2,
        "x-payment-info": {
          "protocol": "x402",
          "scheme": "exact",
          "price": "0.02 USDC",
          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
          "requirements": "Recipient, asset, amount, fee payer, and timeout are returned by the runtime HTTP 402 challenge."
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/OperationId"
          },
          {
            "$ref": "#/components/parameters/PaymentSignature"
          }
        ],
        "responses": {
          "200": {
            "description": "Settled and delivered Solana network snapshot.",
            "headers": {
              "X-Operation-Id": { "$ref": "#/components/headers/OperationId" },
              "X-Receipt-Status": { "$ref": "#/components/headers/ReceiptStatus" },
              "Payment-Response": { "$ref": "#/components/headers/PaymentResponse" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SolanaNetworkSnapshot" }
              }
            }
          },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "503": { "$ref": "#/components/responses/Unavailable" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "OperationId": {
        "name": "X-Operation-Id",
        "in": "header",
        "required": true,
        "description": "Client-generated UUID binding payment, request fingerprint, receipt, and delivered output for idempotent replay.",
        "schema": { "type": "string", "format": "uuid" }
      },
      "PaymentSignature": {
        "name": "Payment-Signature",
        "in": "header",
        "required": false,
        "description": "Base64-encoded x402 v2 payment payload. Omit on the first request to receive the runtime 402 challenge.",
        "schema": { "type": "string" }
      }
    },
    "headers": {
      "OperationId": {
        "description": "Operation UUID used for the delivered receipt.",
        "schema": { "type": "string", "format": "uuid" }
      },
      "ReceiptStatus": {
        "description": "Whether the settlement receipt and exact delivered response were stored.",
        "schema": { "type": "string", "enum": ["stored", "failed"] }
      },
      "PaymentResponse": {
        "description": "Base64-encoded x402 settlement response.",
        "schema": { "type": "string" }
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Runtime x402 v2 exact-SVM payment requirements.",
        "headers": {
          "X-Operation-Id": { "$ref": "#/components/headers/OperationId" },
          "Payment-Required": {
            "description": "Base64-encoded payment requirements declaring the exact network, asset, amount, recipient, and facilitator fields.",
            "schema": { "type": "string" }
          }
        }
      },
      "Unavailable": {
        "description": "Settlement rail, receipt store, required RPC telemetry, or minimum source coverage is unavailable. No paid output is delivered.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "Signal": {
        "type": "object",
        "required": ["id", "name", "kind", "severity", "confidence", "freshness", "observedAt", "region", "source", "sourceUrl", "fact", "assessment", "recommendedAction"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "kind": { "type": "string" },
          "severity": { "type": "integer", "minimum": 0, "maximum": 100 },
          "confidence": { "type": "integer", "minimum": 0, "maximum": 100 },
          "freshness": { "type": "string", "enum": ["FRESH", "CURRENT", "AGING", "STALE"] },
          "observedAt": { "type": "string", "format": "date-time" },
          "region": { "type": "string" },
          "source": { "type": "string" },
          "sourceUrl": { "type": "string", "format": "uri" },
          "fact": { "type": "string" },
          "assessment": { "type": "string" },
          "recommendedAction": { "type": "string" }
        }
      },
      "GlobalSynthesis": {
        "type": "object",
        "required": ["success", "timestamp", "clearance", "intel"],
        "properties": {
          "success": { "const": true },
          "timestamp": { "type": "string", "format": "date-time" },
          "clearance": { "type": "string" },
          "intel": {
            "type": "object",
            "required": ["headline", "summary", "sourceCoverage", "sourceStatus", "prioritySignal", "signals", "nextAction", "trustBoundary"],
            "properties": {
              "headline": { "type": "string" },
              "summary": { "type": "string" },
              "sourceCoverage": { "type": "object", "additionalProperties": true },
              "sourceStatus": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
              "prioritySignal": { "type": "string" },
              "signals": { "type": "array", "items": { "$ref": "#/components/schemas/Signal" } },
              "nextAction": { "type": "string" },
              "trustBoundary": { "type": "string" }
            }
          }
        }
      },
      "SolanaNetworkSnapshot": {
        "type": "object",
        "required": ["success", "timestamp", "clearance", "network"],
        "properties": {
          "success": { "const": true },
          "timestamp": { "type": "string", "format": "date-time" },
          "clearance": { "type": "string" },
          "network": { "type": "object", "additionalProperties": true }
        }
      },
      "Error": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": { "const": false },
          "error": { "type": "string" },
          "syntheticData": { "type": "boolean" }
        }
      }
    }
  }
}
