{
  "openapi": "3.1.0",
  "info": {
    "title": "RED QUEEN Intelligence API",
    "description": "Source-bounded survival intelligence and Solana wallet telemetry protected by x402 v2 exact-SVM payments. Purchases never award XP or BIO-SCORE.",
    "version": "2.1.0"
  },
  "servers": [{ "url": "https://redqueen.space" }],
  "paths": {
    "/api/intel/premium": {
      "get": {
        "summary": "Seven-source verified signal synthesis",
        "operationId": "getGlobalSourceSynthesis",
        "x-payment-info": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.01 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
        "parameters": [{ "$ref": "#/components/parameters/OperationId" }, { "$ref": "#/components/parameters/PaymentSignature" }],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/depin": {
      "get": {
        "summary": "Solana network health snapshot",
        "operationId": "getSolanaNetworkHealth",
        "x-payment-info": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.02 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
        "parameters": [{ "$ref": "#/components/parameters/OperationId" }, { "$ref": "#/components/parameters/PaymentSignature" }],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/wallet-exposure": {
      "get": {
        "summary": "Solana wallet authority exposure audit",
        "description": "Reports public SPL and Token-2022 delegate and authority state without identity inference or a signature request.",
        "operationId": "getWalletExposureAudit",
        "x-payment-info": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.02 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/OperationId" },
          { "$ref": "#/components/parameters/PaymentSignature" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "description": "Invalid public Solana address." }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    }
  },
  "components": {
    "parameters": {
      "OperationId": { "name": "X-Operation-Id", "in": "header", "required": true, "description": "UUID binding the request, settlement receipt and delivered output for replay-safe retries.", "schema": { "type": "string", "format": "uuid" } },
      "PaymentSignature": { "name": "Payment-Signature", "in": "header", "required": false, "description": "Base64 x402 v2 payment payload created from the runtime challenge.", "schema": { "type": "string" } }
    },
    "responses": {
      "Delivered": { "description": "Settled output with X-Operation-Id, X-Receipt-Status and Payment-Response headers.", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
      "PaymentRequired": { "description": "Runtime x402 v2 exact-SVM challenge in the Payment-Required header." },
      "Unavailable": { "description": "Payment rail, receipt storage, or required source data is unavailable; no paid output is delivered." }
    }
  }
}
