{
  "openapi": "3.1.0",
  "info": {
    "title": "RED QUEEN Intelligence Merchant API",
    "description": "Machine-readable survival intelligence and owner-approved physical commerce on Solana. Intelligence resources use exact USDC x402 payments; SP3ND fulfills Amazon/eBay orders with USDC and x402 Market remains available for PYUSD inventory. Purchases never award XP or BIO-SCORE.",
    "version": "3.4.0"
  },
  "servers": [{ "url": "https://redqueen.space" }],
  "externalDocs": {
    "description": "RED QUEEN agent and merchant documentation",
    "url": "https://redqueen.space/for-agents"
  },
  "tags": [
    { "name": "Survival Intelligence" },
    { "name": "Premium Procurement" },
    { "name": "Solana Intelligence" },
    { "name": "Physical Commerce" }
  ],
  "paths": {
    "/api/intel/premium": {
      "get": {
        "tags": ["Survival Intelligence"],
        "summary": "Synthesize the verified global signal grid",
        "description": "Returns a ranked synthesis with source coverage, confidence, freshness and source links.",
        "operationId": "getGlobalSourceSynthesis",
        "x-payment-info": { "$ref": "#/components/x-payment-info/GlobalSynthesis" },
        "parameters": [{ "$ref": "#/components/parameters/OperationId" }, { "$ref": "#/components/parameters/PaymentSignature" }],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/depin": {
      "get": {
        "tags": ["Solana Intelligence"],
        "summary": "Read current Solana network health",
        "description": "Returns validator, epoch, performance and priority-fee telemetry from configured Solana RPC sources.",
        "operationId": "getSolanaNetworkHealth",
        "x-payment-info": { "$ref": "#/components/x-payment-info/SolanaHealth" },
        "parameters": [{ "$ref": "#/components/parameters/OperationId" }, { "$ref": "#/components/parameters/PaymentSignature" }],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/local-delta": {
      "get": {
        "tags": ["Survival Intelligence"],
        "summary": "Explain verified 24-hour changes around a broad area",
        "description": "Compares the current source grid against one broad city or region. Exact home addresses are neither required nor retained.",
        "operationId": "getLocalDeltaBrief",
        "x-payment-info": { "$ref": "#/components/x-payment-info/LocalDelta" },
        "parameters": [
          { "name": "area", "in": "query", "required": true, "description": "Broad city or region; never an exact address.", "schema": { "type": "string", "minLength": 2, "maxLength": 80 }, "example": "Madrid" },
          { "name": "lat", "in": "query", "required": false, "schema": { "type": "number", "minimum": -90, "maximum": 90 }, "example": 40.4168 },
          { "name": "lng", "in": "query", "required": false, "schema": { "type": "number", "minimum": -180, "maximum": 180 }, "example": -3.7038 },
          { "name": "radiusKm", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 25, "maximum": 1000, "default": 250 } },
          { "$ref": "#/components/parameters/OperationId" },
          { "$ref": "#/components/parameters/PaymentSignature" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/premium-area": {
      "post": {
        "tags": ["Premium Procurement"],
        "summary": "Procure metered area intelligence and synthesize the result",
        "description": "Purchases configured provider data only after x402 approval and returns the sourced area report with an upstream procurement receipt.",
        "operationId": "createPremiumAreaIntelligence",
        "x-payment-info": { "$ref": "#/components/x-payment-info/PremiumArea" },
        "parameters": [{ "$ref": "#/components/parameters/OperationId" }, { "$ref": "#/components/parameters/PaymentSignature" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PremiumAreaInput" }, "example": { "area": "Valencia", "lat": 39.4699, "lng": -0.3763, "radiusKm": 250, "focus": "LOCAL_THREATS" } } }
        },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/external-intelligence/quote": {
      "post": {
        "tags": ["Premium Procurement"],
        "summary": "Review a Queen Buyer procurement disclosure",
        "description": "Returns the allowlisted merchant, two upstream resources, data shared, 0.03 USDC upstream cap, final user price and a short-lived quote token. It makes no external call and moves no funds.",
        "operationId": "quoteExternalSurvivalIntelligence",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExternalIntelligenceQuoteInput" } } }
        },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/external-intelligence": {
      "post": {
        "tags": ["Premium Procurement"],
        "summary": "Buy missing external evidence and synthesize one survival decision",
        "description": "After quote review and RED QUEEN x402 settlement, Queen pays Agent402 search and extraction calls with a dedicated Solana buyer wallet, then returns a bounded report with upstream receipts.",
        "operationId": "createExternalSurvivalIntelligence",
        "x-payment-info": { "$ref": "#/components/x-payment-info/ExternalIntelligence" },
        "parameters": [{ "$ref": "#/components/parameters/OperationId" }, { "$ref": "#/components/parameters/PaymentSignature" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExternalIntelligenceInput" } } }
        },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "409": { "description": "Quote missing, expired or does not match the request." }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/preparedness-plan": {
      "post": {
        "tags": ["Survival Intelligence"],
        "summary": "Compile a personalized 72-hour preparedness protocol",
        "description": "Turns a selected hazard and household constraints into phased actions, checklist items and cited sources.",
        "operationId": "createPreparednessPlan",
        "x-payment-info": { "$ref": "#/components/x-payment-info/Preparedness" },
        "parameters": [{ "$ref": "#/components/parameters/OperationId" }, { "$ref": "#/components/parameters/PaymentSignature" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PreparednessInput" }, "example": { "area": "Berlin", "focus": "HOUSEHOLD", "household": "One adult and one child", "constraints": "Limited storage; no car" } } }
        },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/incident-dossier": {
      "get": {
        "tags": ["Survival Intelligence"],
        "summary": "Build a dossier for one current verified signal",
        "description": "Returns timestamped fact, assessment, uncertainty, action protocol and source metadata for a signal still present in the live source window.",
        "operationId": "getIncidentDossier",
        "x-payment-info": { "$ref": "#/components/x-payment-info/IncidentDossier" },
        "parameters": [
          { "name": "signalId", "in": "query", "required": true, "description": "Current verified signal ID returned by RED QUEEN Pulse or Map.", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/OperationId" },
          { "$ref": "#/components/parameters/PaymentSignature" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "404": { "description": "Signal left the verified source window; no payment is requested." }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/transaction-risk": {
      "post": {
        "tags": ["Solana Intelligence"],
        "summary": "Simulate and explain a Solana transaction before signing",
        "description": "Decodes a serialized versioned transaction and reports signer, writable-account, authority and known-program risks. It never signs or submits the inspected transaction.",
        "operationId": "explainTransactionRisk",
        "x-payment-info": { "$ref": "#/components/x-payment-info/TransactionRisk" },
        "parameters": [{ "$ref": "#/components/parameters/OperationId" }, { "$ref": "#/components/parameters/PaymentSignature" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TransactionRiskInput" }, "example": { "transaction": "BASE64_SERIALIZED_VERSIONED_TRANSACTION", "wallet": "OPTIONAL_EXPECTED_SIGNER" } } }
        },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "422": { "description": "The transaction could not be inspected." }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/intel/wallet-exposure": {
      "get": {
        "tags": ["Solana Intelligence"],
        "summary": "Audit public Solana token-authority exposure",
        "description": "Reports SPL and Token-2022 delegates, frozen state, empty accounts and external close authorities without identity inference or a signature request.",
        "operationId": "getWalletExposureAudit",
        "x-payment-info": { "$ref": "#/components/x-payment-info/WalletExposure" },
        "parameters": [
          { "name": "address", "in": "query", "required": true, "description": "Public Solana wallet address. Never provide a seed phrase or private key.", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/OperationId" },
          { "$ref": "#/components/parameters/PaymentSignature" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/catalog-search": {
      "post": {
        "tags": ["Physical Commerce"],
        "summary": "Search purchasable physical survival inventory",
        "description": "Searches allowlisted x402 Market physical listings. This step is read-only: it does not hold stock, disclose a destination or prepare payment.",
        "operationId": "searchPhysicalSurvivalOffers",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "query": { "type": "string", "minLength": 2, "maxLength": 120 } }, "required": ["query"] } } } },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "502": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/cart-quote": {
      "post": {
        "tags": ["Physical Commerce"],
        "summary": "Hold selected inventory and prepare the exact physical checkout",
        "description": "Relays the owner-authorized destination to x402 Market, holds selected stock, and returns item, shipping, tax, fee and grand-total receipt. No payment occurs at this step.",
        "operationId": "preparePhysicalCheckoutQuote",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PhysicalCheckoutInput" } } } },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "403": { "description": "Marketplace owner verification is required." }, "502": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/cart-checkout/{checkoutId}/confirm": {
      "post": {
        "tags": ["Physical Commerce"],
        "summary": "Pay and confirm a real physical order through x402",
        "description": "Call without payment to receive the exact PYUSD x402 challenge, then retry with X-PAYMENT or Payment-Signature. A successful call creates the marketplace orders and returns receipt identifiers.",
        "operationId": "confirmPhysicalCheckout",
        "parameters": [
          { "name": "checkoutId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "X-PAYMENT", "in": "header", "required": false, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/OperationId" }
        ],
        "responses": { "201": { "$ref": "#/components/responses/Delivered" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "403": { "description": "Marketplace owner verification is required." }, "410": { "description": "Held checkout expired; inventory was released." }, "502": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/orders/{orderId}/tracking": {
      "get": {
        "tags": ["Physical Commerce"],
        "summary": "Read marketplace order tracking",
        "operationId": "getPhysicalOrderTracking",
        "parameters": [{ "name": "orderId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "502": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/orders/{orderId}/cancel": {
      "post": {
        "tags": ["Physical Commerce"],
        "summary": "Request cancellation of a physical order",
        "description": "Forwards an owner-authorized cancellation request to x402 Market. The marketplace may refuse once fulfillment has begun.",
        "operationId": "cancelPhysicalOrder",
        "parameters": [
          { "name": "orderId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/OperationId" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "409": { "description": "Order can no longer be cancelled." }, "502": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/sp3nd/cart": {
      "post": {
        "tags": ["Physical Commerce"],
        "summary": "Create a server-priced Amazon or eBay cart",
        "description": "Relays exact product URLs, the user wallet and an owner-approved country/postal destination to SP3ND. Product facts and all monetary fields remain server-authoritative. No order or payment is created.",
        "operationId": "createSp3ndProductCart",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Sp3ndCartInput" } } } },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/sp3nd/orders": {
      "post": {
        "tags": ["Physical Commerce"],
        "summary": "Create an idempotent SP3ND fulfillment order",
        "description": "Creates one destination-bound order after explicit owner approval. The response can be payment-ready, awaiting manual review or awaiting shipping selection. Payment must remain locked unless payment_ready is true.",
        "operationId": "createSp3ndFulfillmentOrder",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Sp3ndOrderInput" } } } },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "400": { "$ref": "#/components/responses/InvalidInput" }, "409": { "description": "Idempotency conflict or quote state changed." }, "503": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/sp3nd/orders/{orderId}": {
      "get": {
        "tags": ["Physical Commerce"],
        "summary": "Read current SP3ND order and fulfillment state",
        "operationId": "getSp3ndOrderStatus",
        "parameters": [{ "name": "orderId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "502": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/sp3nd/orders/{orderId}/shipping": {
      "post": {
        "tags": ["Physical Commerce"],
        "summary": "Select one current SP3ND shipping option",
        "description": "Submits the opaque shipping option ID exactly as returned by SP3ND after owner approval. The provider recalculates the authoritative total.",
        "operationId": "selectSp3ndShipping",
        "parameters": [{ "name": "orderId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "shippingOptionId": { "type": "string" }, "ownerAuthorizedShippingSelection": { "type": "boolean", "const": true } }, "required": ["shippingOptionId", "ownerAuthorizedShippingSelection"] } } } },
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "409": { "description": "Quote expired or changed." }, "502": { "$ref": "#/components/responses/Unavailable" } }
      }
    },
    "/api/market/sp3nd/orders/{orderId}/pay": {
      "post": {
        "tags": ["Physical Commerce"],
        "summary": "Pay one payment-ready SP3ND order through x402 USDC",
        "description": "Refreshes the order and refuses payment unless payment_ready is true, the quote is current and shipping is selected. First call returns the exact SP3ND x402 challenge; retry with the same operation ID and Payment-Signature.",
        "operationId": "paySp3ndOrder",
        "parameters": [
          { "name": "orderId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/OperationId" },
          { "$ref": "#/components/parameters/PaymentSignature" }
        ],
        "responses": { "200": { "$ref": "#/components/responses/Delivered" }, "201": { "$ref": "#/components/responses/Delivered" }, "402": { "$ref": "#/components/responses/PaymentRequired" }, "409": { "description": "Order is not payment-ready, quote expired, or settlement is unresolved." }, "502": { "$ref": "#/components/responses/Unavailable" } }
      }
    }
  },
  "components": {
    "parameters": {
      "OperationId": { "name": "X-Operation-Id", "in": "header", "required": true, "description": "Client-generated UUID binding request input, settlement receipt and output for replay-safe retries.", "schema": { "type": "string", "format": "uuid" } },
      "PaymentSignature": { "name": "Payment-Signature", "in": "header", "required": false, "description": "Base64 x402 v2 payment payload. Omit on the first call; include when retrying after settlement.", "schema": { "type": "string" } }
    },
    "schemas": {
      "PremiumAreaInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "area": { "type": "string", "minLength": 2, "maxLength": 80, "description": "Broad city or region." },
          "lat": { "type": "number", "minimum": -90, "maximum": 90 },
          "lng": { "type": "number", "minimum": -180, "maximum": 180 },
          "radiusKm": { "type": "integer", "minimum": 25, "maximum": 1000 },
          "focus": { "type": "string", "enum": ["LOCAL_THREATS", "BLACKOUT", "HOUSEHOLD", "DIGITAL_SECURITY", "HEALTH"], "default": "LOCAL_THREATS" }
        },
        "required": ["area", "lat", "lng", "radiusKm"]
      },
      "ExternalIntelligenceQuoteInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "area": { "type": "string", "minLength": 2, "maxLength": 80, "description": "Broad city or region; never an exact address." },
          "focus": { "type": "string", "enum": ["LOCAL_THREATS", "BLACKOUT", "HOUSEHOLD", "DIGITAL_SECURITY", "HEALTH"] },
          "question": { "type": "string", "minLength": 8, "maxLength": 320 }
        },
        "required": ["area", "focus", "question"]
      },
      "ExternalIntelligenceInput": {
        "allOf": [
          { "$ref": "#/components/schemas/ExternalIntelligenceQuoteInput" },
          { "type": "object", "properties": { "quoteToken": { "type": "string", "description": "Short-lived token returned by the quote endpoint for identical inputs." } }, "required": ["quoteToken"] }
        ]
      },
      "PreparednessInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "area": { "type": "string", "description": "Optional broad city or region." },
          "focus": { "type": "string", "enum": ["LOCAL_THREATS", "BLACKOUT", "HOUSEHOLD", "DIGITAL_SECURITY", "HEALTH"] },
          "household": { "type": "string", "maxLength": 320 },
          "constraints": { "type": "string", "maxLength": 320 }
        },
        "required": ["focus"],
        "anyOf": [{ "required": ["household"] }, { "required": ["constraints"] }]
      },
      "TransactionRiskInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "transaction": { "type": "string", "description": "Base64 serialized Solana versioned transaction.", "minLength": 40, "maxLength": 240000 },
          "wallet": { "type": "string", "description": "Optional expected signer public key." }
        },
        "required": ["transaction"]
      },
      "PhysicalCheckoutInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "minItems": 1, "maxItems": 12, "items": { "type": "object", "properties": { "listingId": { "type": "string" }, "variantId": { "type": "string" }, "quantity": { "type": "integer", "minimum": 1, "maximum": 12 } }, "required": ["listingId", "quantity"] } },
          "destination": { "type": "object", "description": "Exact delivery data. Send only after the owner explicitly authorizes disclosure to x402 Market and selected sellers.", "properties": { "name": { "type": "string" }, "line1": { "type": "string" }, "line2": { "type": "string" }, "city": { "type": "string" }, "state": { "type": "string" }, "postalCode": { "type": "string" }, "country": { "type": "string", "minLength": 2, "maxLength": 2 }, "email": { "type": "string", "format": "email" }, "phone": { "type": "string" }, "deliveryNotes": { "type": "string" } }, "required": ["name", "line1", "city", "state", "postalCode", "country"] }
        },
        "required": ["items", "destination"]
      },
      "Sp3ndCartInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "minItems": 1, "maxItems": 12, "items": { "type": "object", "properties": { "productUrl": { "type": "string", "format": "uri", "description": "Exact Amazon or eBay product page." }, "quantity": { "type": "integer", "minimum": 1, "maximum": 12 } }, "required": ["productUrl", "quantity"] } },
          "userWallet": { "type": "string", "description": "End-user Solana address used for order attribution." },
          "country": { "type": "string", "minLength": 2, "maxLength": 2 },
          "postalCode": { "type": "string", "minLength": 1, "maxLength": 24 },
          "ownerAuthorizedDestinationDisclosure": { "type": "boolean", "const": true }
        },
        "required": ["items", "userWallet", "country", "postalCode", "ownerAuthorizedDestinationDisclosure"]
      },
      "Sp3ndOrderInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cartId": { "type": "string" },
          "checkoutKey": { "type": "string", "description": "Stable idempotency key reused for retries of this exact checkout." },
          "userWallet": { "type": "string" },
          "destination": { "type": "object", "description": "Exact delivery data sent only to SP3ND after explicit owner authorization.", "properties": { "name": { "type": "string" }, "line1": { "type": "string" }, "line2": { "type": "string" }, "city": { "type": "string" }, "state": { "type": "string" }, "postalCode": { "type": "string" }, "country": { "type": "string", "minLength": 2, "maxLength": 2 }, "email": { "type": "string", "format": "email" }, "phone": { "type": "string" } }, "required": ["name", "line1", "city", "state", "postalCode", "country", "email"] },
          "ownerAuthorizedDestinationDisclosure": { "type": "boolean", "const": true }
        },
        "required": ["cartId", "checkoutKey", "userWallet", "destination", "ownerAuthorizedDestinationDisclosure"]
      }
    },
    "responses": {
      "Delivered": {
        "description": "Settled output. Payment-Response proves settlement and X-Receipt-Status reports durable delivery state.",
        "headers": {
          "Payment-Response": { "description": "Base64 x402 settlement response.", "schema": { "type": "string" } },
          "X-Operation-Id": { "description": "Operation UUID used for this delivery.", "schema": { "type": "string", "format": "uuid" } },
          "X-Receipt-Status": { "description": "Durable receipt status.", "schema": { "type": "string" } }
        },
        "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "const": true } }, "required": ["success"], "additionalProperties": true } } }
      },
      "PaymentRequired": {
        "description": "x402 v2 exact-SVM challenge. Payment-Required includes accepted payment requirements and Bazaar input/output discovery metadata.",
        "headers": { "Payment-Required": { "description": "Base64 x402 challenge with Bazaar extension metadata.", "schema": { "type": "string" } } },
        "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } }
      },
      "InvalidInput": { "description": "Input validation failed before any payment was requested." },
      "Unavailable": { "description": "Payment rail, receipt storage, upstream provider or required source coverage is unavailable. No paid output is delivered." }
    },
    "x-payment-info": {
      "GlobalSynthesis": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.01 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
      "SolanaHealth": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.02 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
      "LocalDelta": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.01 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
      "PremiumArea": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.05 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp", "upstreamProcurement": true },
      "ExternalIntelligence": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.08 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp", "upstreamProcurement": true, "upstreamCap": "0.03 USDC", "upstreamMerchant": "Agent402.Tools" },
      "Preparedness": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.02 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
      "IncidentDossier": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.02 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
      "TransactionRisk": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.01 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" },
      "WalletExposure": { "protocol": "x402", "version": 2, "scheme": "exact", "price": "0.02 USDC", "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp" }
    }
  }
}
